.player,
.opponent,
.defeatedPlayer,
.defeatedOpponent {
  position: absolute;
  transform: translate(-50%, -50%);
}

.player {
  top: 82%;
  left: 37%;
}

.opponent {
  top: 82.75%;
  left: 63.5%;
}

.defeatedPlayer {
  top: 82%;
  left: 37%;
}

.defeatedOpponent {
  top: 83.75%;
  left: 62.5%;
}
