.player,
.opponent,
.defeatedPlayer,
.defeatedOpponent {
  position: absolute;
  transform: translateY(-15%);
}

.player {
  bottom: 5%;
  left: 25%;
}

.opponent {
  bottom: 4.75%;
  right: 25%;
}

.defeatedPlayer {
  bottom: 5%;
  left: 25%;
}

.defeatedOpponent {
  bottom: 3.75%;
  right: 25%;
}
