.player,
.opponent,
.defeatedPlayer,
.defeatedOpponent {
  position: absolute;
}

.player {
  bottom: 2%;
  left: 25%;
}

.opponent {
  bottom: 1.75%;
  right: 25%;
}

.defeatedPlayer {
  bottom: 2%;
  left: 25%;
}

.defeatedOpponent {
  bottom: 0.75%;
  right: 25%;
}
