.history {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  width: 236px;
  height: fit-content;
  z-index: 1;
  border: white 4px solid;
}

.historyLabel {
  font-size: 25px;
  margin-bottom: 12px;
}

.playerIconContainer {
  width: fit-content;
  font-size: 14px;
  margin: 16px 0 16px 28px;
}

.opponentIconContainer {
  width: fit-content;
  font-size: 14px;
  margin: 8px 0 8px 4px;
}
