.history {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 15px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.historyLabel {
  font-size: 24px;
  margin-bottom: 4px;
}

.iconContainer {
  margin-left: 8px;
  width: 170px;
}

.playerHistoryLabel {
  font-size: 16px;
}

.opponentHistoryLabel {
  font-size: 16px;
}
