.history {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px 20px;
  width: 251px;
  height: fit-content;
  z-index: 1;
  border: white 4px solid;
}

.historyLabel {
  font-size: 25px;
  margin-bottom: 12px;
}

.playerHistory {
  width: fit-content;
  height: 30px;
  font-size: 16px;
}

.playerIconContainer {
  margin-left: 28px;
}

.opponentHistory {
  width: fit-content;
  height: 30px;
  font-size: 16px;
}
