.mainContainer {
  background: no-repeat center / cover url('./assets/background.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  font-family: 'Common Pixel', sans-serif;
}

.fit {
  width: fit-content;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.questionCircle {
  cursor: pointer;
  margin-top: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.questionCircle:hover {
  transform: translate(0, -5%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

.buttonContainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonContainer:hover {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signButton {
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signButton:hover {
  transform: translate(0, -5%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resultString {
  text-align: center;
  padding: 20px 0;
  height: 30px;
  font-size: 18px;
}

.charactersContainer {
  margin-top: auto;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}
