.mainContainer {
  background: no-repeat center / cover url('./assets/background.jpg');
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  font-family: 'Common Pixel', sans-serif;
}

.fit {
  width: fit-content;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.questionCircle {
  margin: 3px 0 6px 0;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionCircle:hover {
  transform: translate(-50%, -60%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.charsContainer {
  margin-top: auto;
  position: relative;
}

@media (min-width: 1024px) {
  .charsContainer {
    margin-top: 75vh;
  }
}

.gameContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.buttonContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  text-align: center;
  border-radius: 30px;
  padding: 10px 5px;
  border: white 4px solid;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (min-width: 1024px) {
  .buttonContainer {
    position: fixed;
    top: 80%;
    right: 15px;
  }
}

.signButton {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* opacity: 0.8; */
}

.signButton:hover {
  transform: translate(0, -5%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signButton:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.signButtonLabel {
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  letter-spacing: 0.2em;
}

.wave {
  width: 40px;
  height: 40px;
  position: relative;
  right: 2px;
}

.icon {
  width: 40px;
  height: 40px;
}

.smallIcon {
  width: 20px;
  height: 20px;
}

.retryButtonContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  opacity: 70%;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.message {
  text-align: center;
  color: white;
}

.animatedLogo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.modalCloseButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 15px;
}
