.fit {
  width: fit-content;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px;
}

.historyLabel {
  margin: 8px 126px 8px 0;
  font-size: 24px;
}

.iconContainer {
  margin-left: 8px;
  width: 200px;
}

.playerHistoryLabel {
  margin-right: 36px;
}
