.mainContainer {
  background: no-repeat center / cover url('./assets/background.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  font-family: 'Common Pixel', sans-serif;
}

.fit {
  width: fit-content;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  margin-top: 160px;
}

.resultString {
  text-align: center;
  padding: 20px 0;
  height: 30px;
  font-size: 22px;
}

.retryButtonContainer {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 10px;
}

.charactersContainer {
  margin-top: auto;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

.player {
  margin: 25px;
}

.opponent {
  margin: 25px;
}
